<!doctype html>
<html>
  <head>
    <title>Spotify Dance Judge</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../static/main.js"></script>
    {% from 'dialog.html' import render_dialog %}

  </head>

  <body>
    <div class="container-fluid">

      <div id="login">
        <h1 id="login-header">Welcome to the Spotify Dance Judge! Click the button below to get started.</h1>       
        {{render_dialog('Hello World')}} <!--DEBUG-->
        <a href="/login" class="btn btn-primary">Enter</a>
        {{render_dialog('Goodbye World')}} <!--DEBUG-->
      </div>

      <div id="loggedin">
        <div class="row" id="header">
          <h1>Spotify Dance Judge</h1>
          <div class="head-icon">
            <i class="fa fa-headphones fa-4x"></i>
          </div>
        </div>
      </div>
    </div>

    <script>
      (function() {

        var params = getHashParams();

        var access_token = params.access_token,
            refresh_token = params.refresh_token,
            error = params.error;

        if (error) {
          alert('There was an error during the authentication');
        } else {
          if (access_token) {
            $('#loggedin').show();
            $('#login').hide();
          } else {
              // render initial screen
              $('#login').show();
              $('#loggedin').hide();
          }
        }
      })();
    </script>
  </body>
</html>